<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
        >
    <testsuites>
        <testsuite name="The Iconic Fixtures Test Suite">
            <directory>./tests/TheIconic/Fixtures/</directory>
        </testsuite>
    </testsuites>
</phpunit>
